body {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2 {
    font-size: 24px;
    line-height: 32px;
}

/* Разделы сайта */

header {
    background-color: #333a42;
    color: #ffffff;
    padding-top: 39px;
}

header nav ul {
    padding-top: 7px;
    padding-bottom: 2px;
}

header nav ul li {
    line-height: 23px;
    margin-right: 34px;
    display: inline-block;
}

header nav ul li a {
    display: block;
}

#about {
    padding-top: 121px;
    padding-bottom: 80px;
    background-color: #333a42;
    color: #ffffff;
}

#about figure img {
    height: 208px;
    width: 208px;
    border-radius: 50%;
}

#about p {
    font-size: 24px;
    line-height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#projects .wrapper {
    padding-top: 49px;
    padding-bottom: 42px;
    border-bottom: 1px solid #a6a5a1;
}

#projects figure img {
    width: 100%;
}

#projects figure figcaption {
    line-height: 23px;
}

#projects figure figcaption h3 {
    font-size: 24px;
    line-height: 32px;
}

#projects figure figcaption .counter {
    text-align: right;
}

#reviews .wrapper {
    padding-top: 21px;
    padding-bottom: 127px;
    border-bottom: 1px solid #a6a5a1;
}

#reviews .wrapper h2 {
    margin-bottom: 57px;
}

#reviews .wrapper h3 {
    font-weight: 700;
    line-height: 32px;
}

#reviews .wrapper figure img {
    height: 144px;
    width: 144px;
    border-radius: 50%;
}

#contacts {
    padding-top: 37px;
    padding-bottom: 96px;
}

#contacts .contacts h2 {
    margin-bottom: 32px;
}

#contacts .contacts p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
}

#contacts .contacts .mailto {
    color: #d7443e;
}

#contacts .contacts .social-links {
    /* Сейчас текст, потом заменим на картинки */
    line-height: 32px;
    /* Увеличили отступ от послденего обзаца до 57px */
    padding-top: 25px;
}

#contacts .feedback h2 {
    margin-bottom: 22px;
}

#contacts .feedback form label,
#contacts .feedback form input,
#contacts .feedback form textarea {
    display: block;
    line-height: 32px;
    padding: 0;
    font-size: 18px;
}

#contacts .feedback form label,
#contacts .feedback form input:not([type="submit"]),
#contacts .feedback form textarea {
    width: 100%;
}

#contacts .feedback form textarea {
    font-family: 'IBM Plex Sans', sans-serif;
}

#contacts .feedback form input,
#contacts .feedback form textarea {
    border: 1px solid #333a42;
}

#contacts .feedback form label {
    margin-bottom: 3px;
}

#contacts .feedback form input[type="submit"] {
    padding-right: 25px;
    padding-left: 25px;
    background-color: #333a42;
    color: #ffffff;
}

#contacts .feedback form .textarea {
    padding-top: 13px;
    padding-bottom: 34px;
}